<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>


    <!--<add name="universityConnectionString" connectionString="Data Source=ABHISHEK-PC;Initial Catalog=university;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="universityConnectionString" connectionString="Data Source=SQL5018.site4now.net;Initial Catalog=DB_A49898_Abhiraj97;User Id=DB_A49898_Abhiraj97_admin;Password=abhiabhi1;" providerName="System.Data.SqlClient /"></add>
  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.0"/>

    <pages>

      <namespaces>

        <add namespace="System.Data"/>
        <add namespace="System.Text"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Configuration"/>


      </namespaces>
    </pages>

  </system.web>
</configuration>